@import '../../styles/partials/variables';

.income {
    padding: 2rem 1.5rem;
    width: 100%;

    &__title {
        color: $secondary_color;
    }

    &__content {
        display: flex;
        gap: 2rem;
    }

    &__display {
        flex: 1;
    }
}